<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>파크타운</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>환영합니다!!!</h1>


<form action="/adm_cost" method="GET">
    <input type = "text"  value="동 입력" name = "dong"></br><!--입력#value는 입력받는 변수, name은 변수명, id는 그 변수명의 내가 지은 별명-->
    <input type = "text"  value="호 입력" name = "ho"></br>
    <input type = "text"  value="금액 입력" name = "cost"></br>    
    <input type = "text"  value="이름 입력" name = "pay_nm">
    <input type="submit" value = "입력"><!--버튼--></br>
</form>


</html>
